.header-section {
    margin-bottom: 20px;
  }
  
  .title {
    font-size: 2em;
    color: #026786;
    margin: 0;
  }
  
  .subtitle {
    font-size: 1em;
    color: #666;
    margin-top: 5px;
  }
  